@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "NotoSans-Regular";
        src: url(../src/assets/font/NotoSans-Regular.ttf);
    }
    @font-face {
        font-family: "NotoSans-Bold";
        src: url(../src/assets/font/NotoSans-Bold.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-Italic";
        src: url(../src/assets/font/NotoSans-Italic.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-BoldItalic";
        src: url(../src/assets/font/NotoSans-BoldItalic.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-Light";
        src: url(../src/assets/font/NotoSans-Light.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-LightItalic";
        src: url(../src/assets/font/NotoSans-LightItalic.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-Thin";
        src: url(../src/assets/font/NotoSans-Thin.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-ThinItalic";
        src: url(../src/assets/font/NotoSans-ThinItalic.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-Black";
        src: url(../src/assets/font/NotoSans-Black.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-BlackItalic";
        src: url(../src/assets/font/NotoSans-BlackItalic.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-ExtraBold";
        src: url(../src/assets/font/NotoSans-ExtraBold.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-ExtraBoldItalic";
        src: url(~../src/assets/font/NotoSans-ExtraBoldItalic.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-Medium";
        src: url(../src/assets/font/NotoSans-Medium.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-MediumItalic";
        src: url(../src/assets/font/NotoSans-MediumItalic.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-SemiBold";
        src: url(../src/assets/font/NotoSans-SemiBold.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-SemiBoldItalic";
        src: url(../src/assets/font/NotoSans-SemiBoldItalic.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-ExtraLight";
        src: url(../src/assets/font/NotoSans-ExtraLight.ttf) format("truetype");
    }
    @font-face {
        font-family: "NotoSans-ExtraLightItalic";
        src: url(../src/assets/font/NotoSans-ExtraLightItalic.ttf) format("truetype");
    }

    * {
        font-family: "NotoSans-Regular", sans-serif;
    }
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
